@using Nimbus.Shared.Repositories;
@using Nimbus.Shared.Entities;
@inject SelectionService SelectionService;
@page "/selections"
<h3>SelectionService</h3>

@if (SelectionService.selectedRoute != null)
{
    
    <h2>Selected Route:</h2>
    <form>
    <p>ID: @SelectionService.selectedRoute.Id</p>
    <p>Nickname: @SelectionService.selectedRoute.nickName</p>
    <p>Truck ID: @SelectionService.selectedRoute.truckId</p>
    <p>Number of Stops: @(SelectionService.selectedRoute.stops?.Count ?? 0)</p>
    </form>
}
else
{
    <h2>No route selected</h2>
}
@if(SelectionService.selectedTruck != null)
{
    <form>
    <h2>Selected Truck:</h2>
    <p>ID: @SelectionService.selectedTruck.id</p>
    <p>Mileage: @SelectionService.selectedTruck.mileage</p>
    </form>
}
else
{
    <h2>No truck selected</h2>
}
@code {

}
